<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gherkinTestFrameworkSettings" type="Kekiri.Config.GherkinTestFrameworkSettings, Kekiri" />
  </configSections>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ScenarioReport.feature" />
      </listeners>
    </trace>
  </system.diagnostics>

  <gherkinTestFrameworkSettings given="GIVEN" when="WHEN" then="THEN" line="&#10;" indent="&#009;" and="AND" but="BUT" feature="FEATURE: " scenario="SCENARIO: " />
</configuration>